{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [
					".js",
					".jsx",
					".ts",
					".tsx"
				]
			}
		}
	},
	"extends": [
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript"
	],
	"plugins": [
		"import"
	],
	"rules": {
		// We're using typescript's resolver
		"import/no-unresolved": "off",
		"eol-last": [
			"error",
			"always"
		],
		"linebreak-style": [
			"error",
			"windows"
		],
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 2,
				"maxEOF": 1,
				"maxBOF": 0
			}
		],
		"brace-style": [
			"warn",
			"allman",
			{
				"allowSingleLine": true
			}
		],
		"object-curly-spacing": [
			"error",
			"never"
		],
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-alert": [
			"error"
		],
		"dot-location": [
			"warn",
			"property"
		],
		"import/no-cycle": "error",
		"import/no-self-import": "error",
		"no-duplicate-imports": [
			"error",
			{
				"includeExports": true
			}
		]
	}
}
